@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --clr-grey-25: #f8f9fc;
  --clr-grey-50: #f3f4f6;
  --clr-grey-100: #eef1f4;
  --clr-grey-300: #c5c5c5;
  --clr-grey-500: #8e8e8e;
  --clr-grey-700: #525252;
  --clr-grey-900: #222223;

  /* --clr-blue-50: #f4f1ff;
  --clr-blue-100: #ebe6ff;
  --clr-blue-200: #d9cfff;
  --clr-blue-300: #bca9ff;
  --clr-blue-400: #9d79ff;
  --clr-blue-500: #7f42ff;
  --clr-blue-600: #721cff;
  --clr-blue-700: #701DF7;
  --clr-blue-800: #5408cf;
  --clr-blue-900: #4709a9; */

  --clr-red-500: #ef4444;

  --clr-orange-500: #f97316;

  --clr-yellow-400: #facc15;

  --clr-green-500: #22c55e;

  --clr-teal-500: #14b8a6;

  --clr-cyan-500: #06b6d4;

  --clr-blue-500: #3b82f6;

  --clr-purple-500: #a855f7;

  --clr-pink-500: #ec4899;

  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
button {
  background: none;
  color: inherit;
  border: none;
  text-align: left;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  font: inherit;
  background-color: var(--clr-grey-900);
  color: white;
}

textarea {
  resize: none;
  border: 1px solid var(--clr-grey-700);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.85rem;
  background-color: var(--clr-grey-900);
  color: white;
}


/* Textarea scrollbar */
textarea::-webkit-scrollbar {
  width: 0.5rem;
}
textarea::-webkit-scrollbar-track {
  background: var(--clr-grey-700); 
  border-radius: 1rem;
}
textarea::-webkit-scrollbar-thumb {
  background: var(--clr-grey-500); 
  border-radius: 1rem;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: var(--clr-grey-300); 
}


textarea:focus {
  outline: 2px solid var(--clr-grey-500);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--clr-grey-900);
  color: white;
  overflow-x: hidden;
}

/* Body Scrollbar */
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: var(--clr-grey-700); 
  border-radius: 1rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--clr-grey-500); 
  border-radius: 1rem;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--clr-grey-300); 
}

/* Navbar */
.side-navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-grey-900);
  color: white;
  gap: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  width: clamp(12rem, 20vw, 16rem);
  border-right: 1px solid var(--clr-grey-700);
  z-index: 10;
}
.hamburger-menu {
  display: none;
}

.content-navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}
.side-navbar img {
  width: 24px;
  filter: grayscale(100%) invert(100%);
}

.title-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid var(--clr-grey-300);
}
.title-navbar h1 {
  font-size: 1.5rem;
}

.song-navbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.song-navbar img {
  vertical-align: middle;
  filter: none;
}
.song-navbar:hover,
.new-note-navbar:hover,
.pref-navbar:hover,
.info-navbar:hover {
  background-color: var(--clr-grey-700);
  border-radius: 1rem;
  outline: 4px solid var(--clr-grey-700);
}

.info-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tag-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.settings-navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  gap: 1rem;
}

.new-note-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.new-note-navbar:active,
.pref-navbar:active {
  background-color: var(--clr-grey-100);
  border-radius: 1rem;
  outline: 8px solid var(--clr-grey-100);
  font-weight: bold;
}

.pref-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logout-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.side-navbar .active-navbar {
  background-color: var(--clr-grey-100);
  border-radius: 1rem;
  outline: 8px solid var(--clr-grey-100);
  font-weight: bold;
}

.active-navbar {
  color: black;
}
/* Main Content */
.song-content {
  position: absolute;
  left: clamp(12rem, 20vw, 16rem);
  right: 0;
  padding: 1rem;
}

.song-header-container {
  display: flex;
  gap: 0.25rem;
}
.song-header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: end;
}

.song-header input {
  font-size: 2rem;
  font-weight: bold;
  min-width: 10rem;
  width: 10rem;
  max-width: 40vw;
  border: none;
  text-overflow: ellipsis;
}
.song-header input:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-grey-500);
}
#song-title-cross {
  width: 32px;
  display: none;
}

.song-time {
  font-weight: bold;
  font-size: 1vw;
  text-wrap: nowrap;
}

.svg-hidden {
  display: none;
}
.tab-header,
.tab-add {
  border: 2px solid var(--clr-grey-500);
  background-color: var(--clr-grey-900);
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  text-wrap: nowrap;
  transition: filter 150ms;
}
.tab-header.tab-active {
  background: none;
  border: 3px solid var(--clr-grey-300);
  border-bottom: none;
}

.tab-header:hover {
  filter: saturate(80%);
}
.tab-active:hover {
  filter: none;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-header img {
  width: 16px;
  vertical-align: middle;
  margin-right: -0.25rem;
  filter: invert(100%);
}

.tab-add {
  background-color: var(--clr-grey-900);
  border-bottom: none;
}
.tab-add img {
  width: 24px;
  filter: grayscale(100%) invert(100%);
}
.tab-container {
  gap: 0.25rem;
  display: flex;
}
.song-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

input[type="file"] {
  display: none;
}
.song-label-buttons a,
.song-label-buttons label {
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  /* border: 2px solid var(--clr-grey-100); */
  border-radius: 1rem;
  background-color: var(--clr-grey-100);
  cursor: pointer;
  transition: filter 200ms;
}
.song-label label {
  margin-right: 1rem;
}
.song-label-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.song-label-buttons a:hover,
.song-label-buttonslabel:hover {
  /* border: 2px solid var(--clr-grey-50); */
  filter: saturate(80%);
}
.song-label-buttons a:active {
  background-color: var(--clr-grey-700);
  /* border: 2px solid var(--clr-grey-700); */
  color: var(--clr-grey-100);
}
/* Song Details */

.blob-container {
  display: flex;
}
.blob-container img {
  width: 24px;
  cursor: pointer;
  transition: width 200ms;
}

.blob-container img:hover {
  width: 28px;
}
.song-details {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.tags-details {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.tags-container {
  display: flex;
  gap: 0.5rem;
}
.tags-details h6 {
  border: 2px solid var(--clr-grey-500);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.tags-details h6:before {
  content: "#";
}

.tags-details h6 img {
  width: 16px;
  margin-right: -0.25rem;
  margin-bottom: 0;
  vertical-align: middle;
  filter: invert(100%);
}

.tags-details button {
  background: none;
  border: 2px solid var(--clr-grey-300);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.67rem;
  font-weight: bold;
  color: var(--clr-grey-500);
  cursor: pointer;
}
#new-tag {
  border: none;
  width: fit-content;
}
#new-tag:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-grey-500);
}

.key-bpm-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.key-bpm-container input {
  font-size: 1rem;
  color: var(--clr-grey-500);
  border: none;
  width: 4rem;
  font-weight: bold;
}
.key-bpm-container input:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-grey-500);
}

.bpm-details input {
  width: 2.5rem;
}
.key-bpm {
  display: flex;
  gap: 0.5rem;
}
/* Song Notes */

.instrument-notes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-instrument {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.add-instrument p {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.instrument-container {
  display: flex;
  flex-direction: column;
}

.instrument-notes p,
.instrument-notes input {
  margin-bottom: 1rem;
  font-weight: bold;
  width: fit-content;
  border: none;
  padding: 0.25rem 0.1rem;
}

#lyrics {
  margin-top: 1rem;
}

.add-instrument button {
  /* border: 2px solid var(--clr-grey-100); */
  background-color: var(--clr-grey-100);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: filter 200ms;
}

.add-instrument button:hover {
  background-color: var(--clr-grey-50);
  /* border: 2px solid var(--clr-grey-50); */
  filter: saturate(80%);
}

.add-instrument button:active {
  background-color: var(--clr-grey-700);
  /* border: 2px solid var(--clr-grey-700); */
  color: var(--clr-grey-100);
}

.add-instrument input {
  border-radius: 0.5rem;
  border: 1px solid var(--clr-grey-700);
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.general-notes {
  display: flex;
  flex-direction: column;
}
.general-notes p {
  font-weight: bold;
  margin-bottom: 1rem;
}
.tab-container {
  align-items: end;
}

.guitar-tab,
.bass-tab {
  white-space: pre;
  font-family: monospace;
  position: relative;
  display: inline;
  border: 1px solid var(--clr-grey-700);
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
  overflow: auto;
}

/* Scrollbars */
.guitar-tab::-webkit-scrollbar,
.bass-tab::-webkit-scrollbar {
  height: 0.75rem;
}
.guitar-tab::-webkit-scrollbar-track,
.bass-tab::-webkit-scrollbar-track {
  background: var(--clr-grey-700); 
  border-radius: 1rem;
}
.guitar-tab::-webkit-scrollbar-thumb,
.bass-tab::-webkit-scrollbar-thumb {
  background: var(--clr-grey-500); 
  border-radius: 1rem;
}
.guitar-tab::-webkit-scrollbar-thumb:hover,
.bass-tab::-webkit-scrollbar-thumb:hover {
  background: var(--clr-grey-300); 
}

.guitar-tab input,
.bass-tab input {
  width: 1em;
  height: 1em;
  outline: none;
}
.guitar-tab span,
.bass-tab span {
  cursor: pointer;
  transform: translateY(-25%);
}

.guitar-tab span input,
.bass-tab span input {
  outline: 1px solid var(--clr-grey-300);
}

.guitar-container,
.bass-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.guitar-button-container,
.bass-button-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.guitar-button-container button,
.guitar-button-container a,
.bass-button-container button,
.bass-button-container a {
  background-color: var(--clr-grey-100);
  color: black;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: filter 200ms;
}

.guitar-button-container button:hover,
.guitar-button-container a:hover,
.bass-button-container button:hover,
.bass-button-container a:hover {
  filter: saturate(80%);
}

.guitar-button-container a:link,
.bass-button-container a:link {
  text-decoration: none;
  color: black;
}

.label-container img {
  width: 24px;
  filter: grayscale(100%) invert(100%);
}
.label-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Settings Modal */

.settings-modal {
  position: absolute;
  justify-content: center;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 30%;
  width: 30%;
  background-color: var(--clr-grey-900);
  color: white;
  border: 2px solid var(--clr-grey-700);
  border-radius: 1rem;
  padding: 1rem;
}

/* Info Modal */
.info-modal {
  position: absolute;
  text-align: center;
  justify-content: space-between;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: fit-content;
  width: 40%;
  background-color: white;
  background-color: var(--clr-grey-900);
  border: 2px solid var(--clr-grey-700);
  border-radius: 1rem;
  padding: 1rem;
}

.info-modal button {
  background-color: var(--clr-grey-700);
  margin: 0 auto;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 5rem;
  transition: background-color 200ms;
}
.info-modal button:hover {
  background-color: var(--clr-grey-500);
}

/* Delete Tag Modal */
.delete-modal {
  position: absolute;
  justify-content: space-around;
  vertical-align: middle;
  align-content: center;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  width: 35%;
  background-color: var(--clr-grey-900);
  color: white;
  border: 1px solid var(--clr-grey-700);
  /* border-radius: 1rem; */
  padding: 2.5rem 1rem;
  z-index: 10;
}

.delete-modal p {
  font-weight: bold;
  font-size: 1.25rem;
}

.delete-modal input {
  max-width: 100%;
  margin-bottom: 3rem;
  border: 1px solid var(--clr-grey-700);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.delete-modal input:focus {
  outline: 2px solid var(--clr-grey-500);
}

.delete-modal div {
  position: absolute;
  display: flex;
  gap: 1rem;
  right: 5%;
  bottom: 10%;
}
.delete-modal button {
  border: 2px solid var(--clr-grey-700);
  background-color: var(--clr-grey-900);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.delete-modal button:hover {
  background-color: var(--clr-grey-50);
  border: 2px solid var(--clr-grey-50);
}
.delete-modal button:active {
  background-color: var(--clr-grey-700);
  border: 2px solid var(--clr-grey-700);
  color: var(--clr-grey-100);
}

.hidden {
  display: none;
}

/* Range Inputs */
input[type="range"] {
  height: 25px;
  appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--clr-grey-700);
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--clr-grey-100);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-grey-100);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--clr-grey-700);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--clr-grey-700);
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--clr-grey-100);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-grey-100);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--clr-grey-700);
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: var(--clr-grey-700);
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--clr-grey-100);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-grey-100);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #374151;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #374151;
}

/* Dark Mode Switch */

.darkmode-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darkmode-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.darkmode-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.darkmode-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.darkmode-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.darkmode-input:checked + .darkmode-slider {
  background-color: #2196f3;
}

.darkmode-input:focus + .darkmode-slider {
  box-shadow: 0 0 1px #2196f3;
}

.darkmode-input:checked + .darkmode-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Media Queries */
@media (max-width: 1280px) {
  .song-time {
    font-size: 0.75rem;
  }
  .tab-header,
  .tab-add {
    font-size: 1rem;
  }
  .tab-add img {
    width: 16px;
  }
}
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .side-navbar {
    position: relative;
    width: 100%;
    padding-bottom: 0rem;
  }

  .hamburger-menu {
    display: inline;
  }
  .content-navbar {
    font-size: 1rem;
  }
  .settings-navbar {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey-300);
    padding-bottom: 0.5rem;
  }

  .tags-details {
    margin-bottom: 0;
  }

  .song-content {
    position: relative;
    left: 0;
  }

  .song-header-container {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .song-header {
    display: block;
  }

  .song-header input {
    max-width: none;
  }

  .add-instrument button {
    font-size: 0.8rem;
  }

  .song-label {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  .tab-container {
    display: flex;
    gap: 0.25rem;
  }

  .tab-container button {
    font-size: 0.75rem;
  }

  .song-label a,
  .song-label label {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
  .song-label label {
    margin-right: 0.5rem;
  }

  .song-details {
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }
  .blob-container img {
    width: 20px;
  }

  .settings-modal {
    width: 60%;
    height: 30%;
  }
  .delete-modal {
    width: 70%;
    height: 30%;
  }
  .info-modal {
    width: 80%;
  }
}

