@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --clr-grey-100: #eef1f4;
  --clr-grey-300: #c5c5c5;
  --clr-grey-500: #8e8e8e;
  --clr-grey-700: #374151;

  --clr-red-400: #ff0066;

  --clr-green-400: #00ff99;

  --font-family: "Inter", sans-serif;
}


* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
button {
  background: none;
  color: inherit;
  border: none;
  text-align: left;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  font: inherit;
}

textarea {
  resize: none;
  border: 1px solid var(--clr-grey-300);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 0.85rem;
}

textarea:focus {
  outline: 2px solid var(--clr-grey-500);
}

body {
  font-family: "Inter", sans-serif;
}

/* Navbar */
.side-navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  width: clamp(12rem, 20vw, 16rem);
  border-right: 1px solid var(--clr-grey-300);
}
.hamburger-menu {
  display: none;
}

.content-navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}
.side-navbar img {
  width: 24px;
}

.title-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid var(--clr-grey-300);
}
.title-navbar h1 {
  font-size: 1.5rem;
}

.settings-navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  gap: 1rem;
}

.new-note-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.new-note-navbar:active,
.pref-navbar:active {
  background-color: var(--clr-grey-100);
  border-radius: 1rem;
  outline: 8px solid var(--clr-grey-100);
  font-weight: bold;
}

.pref-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logout-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.side-navbar .active-navbar {
  background-color: var(--clr-grey-100);
  border-radius: 1rem;
  outline: 8px solid var(--clr-grey-100);
  font-weight: bold;
}

/* Main Content */
.song-content {
  position: absolute;
  left: clamp(12rem, 20vw, 16rem);
  right: 0;
  padding: 1rem;
}

.song-header-container {
  display: flex;
  gap: 0.25rem;
}
.song-header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: end;
}

.song-header input {
  font-size: 2rem;
  font-weight: bold;
  min-width: 10rem;
  width: 10rem;
  max-width: 40vw;
  border: none;
  text-overflow: ellipsis;
}
.song-header input:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-grey-500);
}
#song-title-cross {
  width: 32px;
  display: none;
}

.song-time {
  font-weight: bold;
  font-size: 1.1vw;
}

.svg-hidden {
  display: none;
}
.tab-header,
.tab-add {
  border: 2px solid var(--clr-grey-100);
  background-color: var(--clr-grey-100);
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}
.tab-header.tab-active {
  background: none;
  border: 3px solid var(--clr-grey-300);
  border-bottom: none;
}
.tab-add img {
  width: 20px;
}
.tab-container {
  gap: 0.25rem;
  display: flex;
}
.song-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.5rem;
}
.song-label img {
  width: 32px;
}

/* Song Details */

.song-details {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.tags-details {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.tags-container {
  display: flex;
  gap: 0.5rem;
}
.tags-details h6 {
  border: 2px solid var(--clr-grey-500);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

.tags-details button {
  background: none;
  border: 2px solid var(--clr-grey-100);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.67rem;
  font-weight: bold;
  color: var(--clr-grey-500);
  cursor: pointer;
}
#new-tag {
  border: none;
  width: fit-content;
}
#new-tag:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-grey-500);
}

.key-bpm-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.key-bpm-container input {
  font-size: 1rem;
  color: var(--clr-grey-500);
  border: none;
  width: 4rem;
  font-weight: bold;
}
.key-bpm-container input:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-grey-500);
}

/* Song Notes */

.instrument-notes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-instrument {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.add-instrument p {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.instrument-notes div {
  display: flex;
  flex-direction: column;
}

.instrument-notes p {
  margin-bottom: 1rem;
  font-weight: bold;
}

.add-instrument button {
  border: 2px solid var(--clr-grey-100);
  background-color: var(--clr-grey-100);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.add-instrument input {
  border-radius: 0.5rem;
  border: 1px solid var(--clr-grey-300);
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.general-notes {
  display: flex;
  flex-direction: column;
}
.general-notes label {
  font-weight: bold;
  margin-bottom: 1rem;
}
.tab-container {
  align-items: end;
}

/* Settings Modal */

.settings-modal {
position: absolute;
justify-content: center;
top: 20%;
left: 0;
right: 0;
margin: 0 auto;
display: flex;
flex-direction: column;
height: 50%;
width: 30%;
background-color: white;
border: 2px solid var(--clr-grey-500);
border-radius: 1rem;
padding: 1rem;
}
.hidden {
  display: none;
}

/* Range Inputs */
input[type=range] {
  height: 25px;
  appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--clr-grey-700);
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--clr-grey-100);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-grey-100);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--clr-grey-700);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--clr-grey-700);
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--clr-grey-100);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-grey-100);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--clr-grey-700);
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: var(--clr-grey-700);
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--clr-grey-100);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--clr-grey-100);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #374151;
}
input[type=range]:focus::-ms-fill-upper {
  background: #374151;
}


/* Media Queries */
@media (max-width: 1200px) {
  .song-time {
    font-size: 0.8rem;
  }
  .tab-header,
  .tab-add {
    font-size: 1rem;
  }
  .tab-add img {
    width: 16px;
  }
}
@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .side-navbar {
    position: relative;
    width: 100%;
    padding-bottom: 0rem;
  }

  .hamburger-menu {
    display: inline;
  }
  .content-navbar {
    font-size: 1rem;
  }
  .settings-navbar {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey-300);
    padding-bottom: 0.5rem;
  }

  .song-content {
    position: relative;
    left: 0;
  }

  .song-header-container {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .tab-container {
    display: flex;
    gap: 0.25rem;
  }
}
